<?xml version="1.0"?>

<!--
Set git to ignore changes to this file:
git update-index assume-unchanged <filepath>
-->

<!--Note connection strings should be set/replaced using the Azure Portal > Web App > Application Settings page-->
<connectionStrings>
    <!--These are the default connectionString keys that the Azure WebJob SDK will look for-->
    <!--Used to store WebJob logs-->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=azureintrostorage;AccountKey=" />
    <!--Used by QueueTrigger-->
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=azureintrostorage;AccountKey=" />

    <!--These are the connection strings we'll use outside of the SDK and when we override the default functionality-->
    <add name="AzureIntroSqlConnection" providerName="System.Data.SqlClient" connectionString="Server=tcp:azure-intro.database.windows.net,1433;Database=azure-intro;User ID=username@azure-intro;Password=password;Encrypt=True;TrustServerCertificate=False;Connection Timeout=240;" />
    <add name="AzureIntroStorageConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=azureintrostorage;AccountKey=" />
</connectionStrings>
