<?xml version="1.0"?>

<!--
Set git to ignore changes to this file:
git update-index assume-unchanged <filepath>
-->

<connectionStrings>
    <add name="AzureIntroSqlConnection" providerName="System.Data.SqlClient" connectionString="Server=tcp:azure-intro.database.windows.net,1433;Database=azure-intro;User ID=username@azure-intro;Password=password;Encrypt=True;TrustServerCertificate=False;Connection Timeout=240;" />
    
    <!--These are the default connectionString keys that the Azure WebJob SDK will look for-->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=azureintrostorage;AccountKey="/>
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=azureintrostorage;AccountKey="/>
</connectionStrings>
