@{
    ViewBag.Title = "Azure Intro";
}

<div class="jumbotron">
    <h1>Hello AzureIntro Guest!</h1>
    <p class="lead">This is an example site for this project: <a href="https://github.com/Stonefinch/AzureIntro">https://github.com/Stonefinch/AzureIntro</a>.</p>
</div>
